@font-face {
    src: url('../fonts/FuturaNewMedium-Reg.ttf');
    font-family: 'Futura New';
}

@font-face {
    src: url('../fonts/futurabookc.ttf');
    font-family: 'Futura BookC';
}

* {
    box-sizing: border-box;
    font-family: 'Futura New';
    padding: 0;
    margin: 0;
}

.ps__carousel__photo {
    width: 400px;
    margin: 50px auto;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='blue'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='blue'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-item {
    width: 384px;
    height: 604px;
}

.ps_menu__header {
    max-width: 1880px;
    min-height: 150px;
    margin: 20px auto;
    box-shadow: 0px 4px 14px rgba(31, 31, 34, 0.15);
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    margin-bottom: 100px;
}

.ps_menu__inner {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ps_menu__logo,
.ps_footer__logo {
    display: flex;
    margin-top: 10px;
}

.ps_logo-1__menu,
.ps_logo-1__footer {
    position: relative;
    padding-left: 80px;
}

.ps_logo-1__menu:after,
.ps_logo-1__footer:after {
    content: 'the best youcan be';
    font-family: 'Futura BookC';
    margin: 0 auto;
    color: #00A4E5;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.ps_menu__inner_company-name {
    padding-left: 18px;
    padding-top: 26px;
    margin-right: 240px;
    color: #B2B8BF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.ps_logo-2 {
    position: absolute;
    left: 205px;
    top: -20px;
}

.title__page1,
.ps_menu__nav {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

.ps_menu__nav li {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #1F1F22;
    margin-right: 30px;
}

.title__page1 li {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #1F1F22;
    margin-right: 30px;
}

.ps_menu__nav li:last-child {
    margin-right: 0px;
}

.ps_menu__nav li:nth-child(4):after,
.ps_menu__nav li:nth-child(5):after {
    content: url('../img/Icon_down.png');
    width: 14px;
    height: 8px;
    margin-left: 10px;
}

.ps_menu__nav li a,
.title__page1 li a {
    text-decoration: none;
    color: #1F1F22;
}

.ps_menu__icon {
    margin-right: 40px;
}

.ps__menu_line {
    content: '';
    width: 1px;
    height: 38px;
    background-color: #B2B8BF;
    display: block;
    border-radius: 4px;
    margin-right: 35px;
}

.ps_menu__icon-phone {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

.ps_menu__icon-arrow {
    width: 25px;
    height: 22.5px;
    margin-right: 35px;
}

.ps_page {
    padding-left: 155px;
    margin-bottom: 290px;
}

.ps_page__title-menu {
    max-width: 752px;
    height: 22px;
    font-weight: 400;
    font-size: 18px;
    color: #B2B8BF;
    margin-bottom: 45px;
}

.ps_page__title-menu a {
    text-decoration-line: underline;
    color: #B2B8BF;
}

.ps_page__title {
    font-weight: 450;
    font-size: 90px;
    line-height: 111px;
    text-transform: uppercase;
    color: #00B3F1;
    margin-bottom: 75px;
}


.ps_page__subtitle {
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #1F1F22;
    margin-bottom: 80px;
}

.ps_page__grid {
    display: grid;
    grid-template-columns: 330px 330px 340px;
    grid-template-rows: 150px;
    grid-auto-rows: 140px;
}

.ps_page__input,
.ps_footer__input {
    padding-left: 10px;
    font-family: 23px;
    font-weight: 400;
    font-size: 18px;
    border: 0;
}

.ps_page__input {
    margin-top: 12px;
}

.ps_page__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.ps_page__item_row {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #7D838A;
}

::-webkit-input-placeholder {
    padding-left: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B2B8BF;
}

:-moz-placeholder {
    padding-left: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B2B8BF;
}

.ps_page__item input,
.ps_page__item-clock {
    width: 287px;
    height: 64px;
    background: #F2F4F7;
    border-radius: 20px;
    border: 0px;
}

.ps_page__item-clock {
    font-size: 18px;
    line-height: 22px;
    color: #1F1F22;
    margin-top: 12px;
}

.ps_page__button {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.ps_page__btn {
    display: block;
}

.ps_page__input-Yes,
.ps_page__input-No {
    display: none;
}

.ps_page__label-Yes,
.ps_page__label-No {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(31, 31, 34, 0.15);
    border-radius: 20px;
    width: 151px;
    height: 64px;
    border: 0px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.ps_page__label-Yes {
    color: #6AC46B;
}

.ps_page__label-No {
    color: #D72E20;
}

.ps_page__input-Yes:checked+.ps_page__label-Yes,
.ps_page__input-No:checked+.ps_page__label-No {
    background-color: #00B3F1;
}

.ps_page__button-onsward:hover {
    cursor: pointer;
}

.ps_page__button-onsward,
.ps_page__button-send {
    width: 325px;
    height: 64px;
    background: #00B3F1;
    border-radius: 40px;
    margin-top: 40px;
    border: 0px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
}

.ps_page__button-send {
    margin-top: 10px;
    width: 360px;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

.ps_page__button-psy-return:after,
.ps_page__button-onsward:after {
    content: url('../img/Vector.png');
    width: 32px;
    height: 14px;
    margin-left: 15px;
    margin-top: 30px;
    color: #FFFFFF;
}

.rs_page__button-return:after {
    content: "";
}

.ps_page__button-psy:before,
.rs_page__button-return:before {
    content: url('../img/Vector_return.png');
    width: 32px;
    height: 14px;
    margin-right: 15px;
    margin-top: 30px;
    color: #FFFFFF;
}

.ps_footer {
    max-width: 1920px;
    min-height: 480px;
    background-color: #386474;
}

.ps_footer__line {
    margin: 0 auto;
    max-width: 1594px;
    height: 0px;
    border: 1px solid #FFFFFF;
}

.ps_footer__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 307px;
}

.ps_footer__form {
    position: relative;
    margin-right: 100px;
}

input[type=search] {
    -webkit-appearance: none;
}

.ps_footer__input {
    width: 287px;
    height: 64px;
    background: #F2F4F7;
    border-radius: 20px;
    margin-left: 155px;
    border: 0;
}

.ps_footer__button {
    position: absolute;
    right: -40px;
    width: 162px;
    height: 64px;
    background: #00B3F1;
    border-radius: 40px;
    border: 0;
    color: #FFFFFF;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
}

.ps_footer__blok {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.ps_footer__blok-1 {
    padding-left: 400px;
}

.ps_footer__blok-2 {
    margin-right: 200px;
}

.ps_footer__h3 {
    font-weight: 450;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.ps_footer__coment {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.ps_footer__about {
    display: flex;
    justify-content: space-around;
}

.ps_footer__logo {
    margin-right: 600px;
    margin-top: 55px;
}

.ps_logo-1__footer:after {
    color: #FFFFFF;
}

.ps_footer__copyright {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 85px;
    margin-right: 90px;
}

.ps_footer__link {
    text-decoration-line: underline;
    color: #FFFFFF;
}

:focus {
    outline: 0;
    color: #1F1F22;
}

/*Подбор психолога_2*/

.ps_page2__button {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    margin-bottom: 78px;
    width: 940px;
}

.ps_page__button_comfort-work{
    width: 972px;
    margin-bottom: 80px;
    justify-content: space-between;
}

.ps_page__input-choice{
    display: none;
}

.ps_page__label-choice{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 287px;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(31, 31, 34, 0.15);
    border-radius: 20px;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1F1F22;
}

.ps_page__input-choice:checked+.ps_page__label-choice {
    border: 4px solid #00B3F1;
}

.ps_page2_h3 {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1.0px;
    color: #1F1F22;
    margin-bottom: 35px;
}

.ps_page2__questionary-title {
    display: flex;
    margin-bottom: 5px;
}

.ps_page2__questionary-name {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #7D838A;
    padding-left: 5px;
}

.ps_page2__form-condition,
.ps_page2__form-connection,
.ps_page2__form-job,
.ps_page2__live-event {
    width: 1428px;
    height: 280px;
    padding-top: 30px;
    margin-bottom: 35px;
}

.ps_page2__form-connection,
.ps_page2__form-job {
    height: 145px;
    margin-bottom: 15px;
}

.ps_page2__live-event {
    height: 185px;
    padding-top: 30px;
}

.ps_page2__questionary-body {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: start;
}

.ps_page2__label {
    font-size: 18px;
    line-height: 22px;
    color: #1F1F22;
    margin-bottom: 25px;
    width: 480px;
}

/*стиль checkbox*/
.ps_page2__checkbox {
    /* position: absolute; */
    z-index: -1;
    opacity: 0;
}

.ps_page2__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.ps_page2__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    background: #EAEDF2;
    border-radius: 4px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.ps_page2__checkbox:checked+label::before {
    border-color: #00B3F1;
    background-color: #00B3F1;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.ps_page2__checkbox:not(:disabled):active+label::before {
    background-color: #00B3F1;
    border-color: #00B3F1;
}

.ps_page2__button {
    display: flex;
    justify-content: space-between;
    width: 1260px;
    margin-bottom: 70px;
}

/*Подбор психолога_3*/

.ps_page3__container {
    max-width: 1740px;
}

.ps_page3__card {
    display: flex;
    flex-wrap: wrap;
    max-width: 1615x;
}

.ps_page3__items {
    display: flex;
    max-width: 777px;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(31, 31, 34, 0.15);
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.ps_page3__items-img {
    margin: 40px 0 0 50px;
}

.ps_page3__items-about {
    padding-top: 30px;
    padding-left: 40px;
}

.ps_items__name {
    max-width: 372px;
    height: 37px;
    font-weight: 450;
    font-size: 30px;
    line-height: 37px;
    color: #1F1F22;
    margin-bottom: 20px;
}

.ps_items__practice {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
}

.ps_items__metod {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.ps_items__questionary-page3,
.ps_items__metod-name {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.ps_item__practice-title,
.ps_item__practice-year,
.ps_items__metod-title,
.ps_items__metod-name {
    font-weight: 450;
    font-size: 18px;
    line-height: 22px;
    color: #1F1F22;
}

.ps_items__metod-title {
    max-width: 155px;
}

.ps_items__metod-name,
.ps_items__questionary-page3 {
    list-style: none;
}

.ps_items__questionary-page3 li {
    padding: 10px 15px;
    margin: 5px;
    color:
        #7D838A;
    background: #F2F4F7;
    border-radius: 20px;
}

.ps_page3 {
    margin-bottom: 150px;
}

/*Анкета психолога*/

.ps_pageForm__subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #1F1F22;
    list-style-type: 1.0;
    margin-bottom: 35px;

}

.ps_page__formPsy-grid {
    display: grid;
    grid-template-columns: 165px 165px 165px 900px;
    grid-template-rows: 140px 140px 140px;
    gap: 10px;
    margin-bottom: 50px;
}

.ps_page__input-formPsy-name,
.ps_page__input-formPsy-method,
.ps_page__input-formPsy-education,
.ps_page__input-formPsy-gender,
.ps_page__input-formPsy-experience,
.ps_page__input-formPsy-year,
.ps_page__input-formPsy-about {
    margin-top: 12px;
    width: 287px;
    height: 64px;
    background: #F2F4F7;
    border-radius: 20px;
    border: 0;
    font-weight: 450;
    font-size: 20px;
    line-height: 22px;
    color: #1F1F22;
}

.ps_page__input-formPsy-gender,
.ps_page__input-formPsy-experience,
.ps_page__input-formPsy-year {
    width: 162px;
}

.ps_page__input-formPsy-about {
    width: 613px;
    height: 213px;
}

.ps_photo_plaseholder {
    position: relative;
    width: 163px;
    height: 163px;
    border-radius: 50%;
    background: #F2F4F7;
}

.ps_page__input-formPsy-avatar {
    position: absolute;
    top: 55px;
    left: 47px;
}

.ps_formPsy__grid-item1 {
    grid-column: 1 / 3;
}

.ps_formPsy__grid-item2 {
    grid-column: 3 / 4;
}

.ps_formPsy__grid-item3 {
    justify-content: space-around;
    display: flex;
    position: relative;
    z-index: 1;
    grid-column: 4 / 5;
}

.ps_formPsy__grid-item3 input[type=file] {
    width: 163px;
    height: 163px;
    top: 70px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.ps_formPsy__grid-item4 {
    grid-column: 1 / 2;
}

.ps_formPsy__grid-item5 {
    grid-column: 3 / 4;
    justify-self: end;
}

.ps_formPsy__grid-item6 {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    justify-self: center;
    display: flex;
    flex-direction: column;

}

.ps_formPsy__grid-item7 {
    grid-column: 1 / 3;
}


.ps_formPsy__grid-item8 {
    grid-column: 3 / 4;
}

/*Все психологи_стр4*/
.ps_page4__card {
    display: grid;
    grid-template-columns: 800px 800px;
    grid-template-rows: 600px 550px;
    gap: 30px;
}

.ps_pages4__item-1,
.ps_pages4__item-2 {
    width: 777px;
    height: 595px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(31, 31, 34, 0.15);
    border-radius: 20px;
    padding-left: 30px;
    margin-right: 25px;
}

.ps_pages4__grid4 {
    margin-top: -90px;
}

.ps_pages4__item-2 {
    height: 505px;
}

.ps_pages4__item-1-body {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: 170px 200px 200px;
    justify-items: center;
    align-items: center;
}

.ps_pages4__item-2-body {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: 170px 166px 166px;
    justify-items: center;
    align-items: center;
}

.ps_page4__items-about {
    grid-column: 1 / 3;
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
}

.ps_page4__items-img {
    padding-top: 30px;
}

.ps_page5__card-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1F1F22;
}

/*Карточка психолога_стр5*/
.ps_items__name-page4 {
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #1F1F22;
    padding-top: 35px;
    margin-bottom: 40px;
}

.ps_page4__about {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1F1F22;
    width: 776px;
    margin-bottom: 40px;
}

.ps_items__items-about-practice {
    display: grid;
    grid-template-columns: 166px 755px;
}

.ps_page5__card {
    display: grid;
    grid-template-columns: 650px 755px;
    grid-template-rows: 550px 650px;
    font-size: 18px;
    line-height: 22px;
    color: #1F1F22;
}

.ps_pages4__avatar {
    padding-top: 40px;
    grid-row: 1 / 3;
}

.ps_pages4__avatar-foto {
    margin-bottom: 40px;
}

.ps_items__education-name {
    list-style: none;
}

.ps_page5__items-about {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

.ps_pages__work-direction {
    grid-column: 2 / 3;
    width: 777px;
    height: 440px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(31, 31, 34, 0.15);
    border-radius: 20px;

    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: auto;
    justify-content: center;
    padding-top: 30px;

}

.ps_page4__card-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1F1F22;
    margin-bottom: 5px;
}

.ps_page__button-registration {
    width: 325px;
    height: 64px;
    background: #00B3F1;
    border-radius: 40px;
    margin-top: 40px;
    border: 0px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    width: 360px;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
    margin-left: 45px;
}

.ps_page4__time-record {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    padding-left: 100px;
    color: #1F1F22;
}

.ps_page__button-psy,
.ps_page__button-psy-return {
    width: 327px;
    height: 64px;
    left: 163px;
    top: 1432px;

    background: #E4E8EB;
    border-radius: 40px;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
    border: 0;
    text-align: center;
    color: #7D838A;
}

.ps_page4__button {
    display: flex;
    justify-content: space-around;
}

.ps_page__button-psy,
.ps_page__button-psy-return {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    f .ps_menu__header,
    .ps_menu__logo,
    .ps_footer__logo {
        margin: 15px auto;
    }

    .ps_menu__inner,
    .ps_menu__nav,
    .ps_footer__search,
    .ps_footer__blok {
        flex-direction: column;
    }

    .ps__menu_line {
        content: '';
        width: 10%;
        height: 1px;
        margin: 10px auto;
    }

    .ps_page__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 150px;
        grid-auto-rows: 140px;
    }

    .ps_page {
        padding-left: 15px;
        margin-bottom: 90px;
    }

    .ps_footer__blok {
        padding-top: 20px;
    }

    .ps_menu__icon-phone {
        margin-right: 45px;
    }

    .ps_footer {
        padding-top: 20px;
    }

    .ps_footer__blok-1 {
        padding: 30px 0;
    }

    .ps_footer__blok-2 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .ps_footer__search {
        align-content: stretch;
    }

    .ps_footer__line {
        max-width: 50%;
    }

    .ps_footer__about {
        flex-direction: column;
        align-content: stretch;
        padding-top: 60px;
    }

    .ps_footer__copyright {
        padding-top: 25px;
        margin: 0 auto;
    }

    .ps_footer__logo {
        margin: 0 auto;
    }

    .ps_footer__input {
        margin-left: 25px;
    }

    .ps_page3__container,
    .ps_main__page2 {
        max-width: 840px;
    }

    .ps_page3__card {
        max-width: 800px;
    }

    .ps_page3__items {
        max-width: 600px;
        height: 100%;
        margin-right: 10px;
        margin-bottom: 40px;
        flex-wrap: wrap;
    }

    .ps_page2__button {
        flex-direction: column;
    }

    .ps_page2__button-choice {
        margin-bottom: 20px;
    }

    .ps_page2__form-condition,
    .ps_page2__form-connection,
    .ps_page2__form-job,
    .ps_page2__live-event {
        max-width: 800px;
        height: 100%;
    }

    .title__page1 {
        flex-direction: column;
    }

    .title__page1 li {
        margin-bottom: 20px;
    }

    .ps_page__formPsy-grid {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }

    .ps_page4__card {
        display: flex;
        flex-wrap: wrap;
    }

    .ps_pages4__grid4 {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .ps_page5__questionary,
    .ps_pages4__item-1-body,
    .ps_pages4__item-2-body {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .ps_page__title {
        font-size: 60px;
    }

    .ps_page__subtitle {
        font-size: 40px;
    }

    .ps_items__practice {
        padding-top: 20px;
    }
}

@media screen and (max-width: 380px) {
    .ps_page__title {
        font-size: 45px;
    }

    .ps_page__subtitle {
        font-size: 35px;
    }
}